@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


/**
 * ==============================================
 * Experimental: Gooey Effect
 * Dot Overtaking
 * ==============================================
 */
section.loading_section {
  min-height: 50vh;
  min-width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.loading_section div.wrapper_loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

section.loading_section div.wrapper_loader h4 {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}

section.loading_section div.wrapper_loader .dot-overtaking {
  position: relative;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 6px;
  background-color: transparent;
  margin: -1px 0;
  box-shadow: 0 -20px 0 0;
  animation: dot-overtaking 2s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
}

section.loading_section div.wrapper_loader .dot-overtaking::before,
section.loading_section div.wrapper_loader .dot-overtaking::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 6px;
  background-color: transparent;
  box-shadow: 0 -20px 0 0;
}

section.loading_section div.wrapper_loader .dot-overtaking::before {
  animation: dot-overtaking 2s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
  animation-delay: 0.3s;
}

section.loading_section div.wrapper_loader .dot-overtaking::after {
  animation: dot-overtaking 1.5s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
  animation-delay: 0.6s;
}

@keyframes dot-overtaking {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

/**
 * ==============================================
 * Layout
 * ==============================================
 */

header.header {
  height: 3rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  background-image: linear-gradient(135deg, #9333ea 0%, #4f46e5 100%);
  position: sticky;
  top: 0;
}

main.content {
  min-height: calc(100vh - 5rem);
  min-width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer.footer {
  height: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-image: linear-gradient(135deg, #9333ea 0%, #4f46e5 100%);
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

caption {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: underline;
}

table {
  position: relative;
}

table thead {
  position: sticky;
  top: 0;
}

table thead th {
  cursor: pointer;
}

table tbody tr:hover {
  background-color: #eee;
}

/* mobile screen */

@media (max-width: 768px) {
  header.header, main.content, footer.footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 640px) {
  header.header, main.content, footer.footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}